.video-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 62.5%;
  font-size: 10px;
  overflow-x: hidden;
  text-decoration: none;
}

.video-submit {
  width: 100%;
  height: 80%;
}

video {
  width: 90%;
  height: 90%;
  margin-left: 5%;
  margin-top: -2%;
  position: absolute;
}

form .btn-login {
  margin-left: 100%;
}

form #btn-skip {
  position: relative;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  width: 123px;
  height: 50px;
  margin-top: 30%;
  margin-left: -34%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px 1px 1px solid black;
  opacity: 0.4;
}

form #btn-skip:hover {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(34, 34, 34);
  transition: 0.3s;
  color: white;
  opacity: 0.9;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  form #btn-skip {
    margin-top: 35%;
    margin-left: -43%;
    width: 113px;
    height: 35px;
    font-size: medium;
  }
}

@media (max-width: 400px) {
  form #btn-skip {
    margin-top: 48%;
    margin-left: 73%;
    width: 85px;
    height: 30px;
    font-size: 12px;
  }
}
